# Configuración de Django
DJANGO_SECRET_KEY=django-insecure-(y@^qkirxh^6wd9#913ts$a!3j@!gfrnsv-lj@_%$+%$iml*k2
DEBUG=True

# Configuración de Base de Datos
DB_NAME=smap_kf
DB_USER=mrgomez
DB_PASSWORD=Karin2100
DB_HOST=82.165.210.146
DB_PORT=5432

# Configuración de Email
EMAIL_HOST_USER=kidsfun.developer@gmail.com
EMAIL_HOST_PASSWORD=your-email-password
DEFAULT_FROM_EMAIL=kidsfun.developer@gmail.com

# Configuración de Firebase (opcional para desarrollo)
FIREBASE_CREDENTIALS_PATH=credentials/smap-kf-firebase-adminsdk-xqq0l-dc3c83c990.json 