<!-- footer.html -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

<footer class="footer">
    <!-- Contenido del footer -->
{#    <a href="#">About</a>#}
{#    <a href="#">Help</a>#}
{#    <a href="#">Press</a>#}
{#    <a href="#">API</a>#}
{#    <a href="#">Jobs</a>#}
{#    <a href="#">Privacy</a>#}
{#    <a href="#">Terms</a>#}
{#    <a href="#">Locations</a>#}
{#    <a href="#">Top Accounts</a>#}
{#    <a href="#">Hashtags</a>#}
{#    <a href="#">Language</a>#}
{#    <div style="margin-bottom: 20px;"></div>#}
    <a>© 2024 SMAP for Kidsfun y Fiestas Infantiles</a>
</footer>
