{% extends 'kidsfun_web/base.html' %}

{% block content %}

<html lang="en">
<head>
  <title>Kidsfun y Fiestas Infantiles</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% load static %}
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/animation.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <link rel="icon" href="{% static 'img/favicon/favicon-16x16.png' %}" type="image/x-icon" />
</head>
<body>
  <header class="menu">
    <nav class="navbar navbar-expand-sm">
        <!-- Navbar content here -->
    </nav>
  </header>

  <section class="home-services">
    <!-- Home section content here -->
  </section>

  <section class="section-products padding-section">
    <!-- Products section content here -->
    <div class="container">
      <div class="row" data-aos="fade-up">
        <h2 class="pb-5 text-violet t-sm-center">Bounce House</h2>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/barbie_bounce_house_17x30/img (1).png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Barbie Bounce House</h5>
              <p class="card-text">Size 17x30 ft</p>
              <a class="btn btn-1" href="./template/barbie_bounce_house.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/pirate Ship_bounce_house/img (2).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pirate Ship Bounce House</h5>
              <p class="card-text">Size 8x17 ft</p>
              <a class="btn btn-1" href="./template/barco_de _piratas_bounce_house.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/bounce_house_13x13/img (1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bounce House</h5>
              <p class="card-text">Size 13x13 ft</p>
              <a class="btn btn-1" href="./template/bounce_house_13x13ft.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/bounce_house_15x15/img (1).png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bounce House</h5>
              <p class="card-text">Size 15x15 ft</p>
              <a class="btn btn-1" href="./template/bounce_house_15x15ft.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/bounce_house_30x30/img (1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bounce House</h5>
              <p class="card-text">Size 30x30 ft</p>
              <a class="btn btn-1" href="./template/bounce_house_30x30ft.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/soccer_field/img (2).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Soccer Field</h5>
              <p class="card-text">Size 30x30 ft</p>
              <a class="btn btn-1" href="./template/cancha_de_futbol_inflable.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/pool_pit_balls_8x12/img (1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pool Pit Balls</h5>
              <p class="card-text">Size 8ftx12 ft</p>
              <a class="btn btn-1" href="./template/pool_pit_balls.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/mickey_bounce_house_1010/img (1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mickey Bounce House 10x10ft</h5>
              <p class="card-text">Size 10x10 ft</p>
              <a class="btn btn-1" href="./template/mickey_bounce_house_10x10ft.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/pj_mask_bounce_house_15x15/img.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PJ Mask Bounce House</h5>
              <p class="card-text">Size 15x15ft</p>
              <a class="btn btn-1" href="./template/pj_mask_bounce_house.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/minnios_bounce_house_12x20/img (1).png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Minios Bounce House For Rent</h5>
              <p class="card-text">Size 12x20ft</p>
              <a class="btn btn-1" href="./template/minios_bounce_house_for_rent.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/cocomelo_bounce_house_15x15/img (1).jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cocomelo Bounce House</h5>
              <p class="card-text">Size 15x15ft</p>
              <a class="btn btn-1" href="./template/cocomelon_15x15ft.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/mario_bross_10x10/img (1).jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mario Bross Bounce House</h5>
              <p class="card-text">Size 10x10ft</p>
              <a class="btn btn-1" href="./template/mario_bross_10x10ft.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/unicorn_bounce_house13x12/img (5).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Unicorn Bounce House</h5>
              <p class="card-text">Size 12x13ft</p>
              <a class="btn btn-1" href="./template/unicorn_bounce_house.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/super_hero_bounce_house_12x13/img (4).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Super Heros Bounce House</h5>
              <p class="card-text">Size 12x13ft</p>
              <a class="btn btn-1" href="./template/super_heros_bounce_house.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/princes_bounce_house_10x10/img (1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Princes Bounce House</h5>
              <p class="card-text">Size 10x10ft</p>
              <a class="btn btn-1" href="./template/princes_bounce_house_10x10ft.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/princess_bounce_house_17x30/img (6).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Princes Bounce House</h5>
              <p class="card-text">Size 17x30ft</p>
              <a class="btn btn-1" href="./template/princes_bounce_house_17x30ft.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/silde_bounce_house_16x26/img.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Slide Bounce House</h5>
              <p class="card-text">Size 16x26ft</p>
              <a class="btn btn-1" href="./template/slide_bounce_house.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/slide-pool-bounce-house-16x16/img (2).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Slide Pool Bounce House</h5>
              <p class="card-text">Size 16x16ft</p>
              <a class="btn btn-1" href="./template/slide_pool_bounce_house.html">Get it now</a>
            </div>
          </div>
        </div>

        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/cocomelon_bounce_house_15x15/img (1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Princes Bounce House</h5>
              <p class="card-text">Size 15x15ft</p>
              <a class="btn btn-1" href="./template/cocomelon_bounce_house_15x15.html">Get it now</a>
            </div>
          </div>
        </div>
      </div>


      <!----------------------------  Mechanical Games section start ------------------------------->
      <div class="row pt-5 mt-5" data-aos="fade-up">
        <h2 class="pb-5 text-red t-sm-center">Mechanical Games</h2>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4" data-aos="fade-up">
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/electric-tacklees-train/img (12).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Electric Trackless Train</h5>
              <p class="card-text"></p>
              <a class="btn btn-1" href="./template/electric_tacklees_train.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/dancing-horse/img (1).png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dancing Horse</h5>
              <p class="card-text"></p>
              <a class="btn btn-1" href="./template/dancing_pony.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/robot-led/img (1).jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Robot Led</h5>
              <p class="card-text"></p>
              <a class="btn btn-1" href="./template/robot_led.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/red_mechanical_bull/img.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Red Mechanical Bull</h5>
              <p class="card-text"></p>
              <a class="btn btn-1" href="./template/red_mechanical_bull.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/mechanical-unicorn/img (2).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mechanicall Unicorn</h5>
              <p class="card-text"></p>
              <a class="btn btn-1" href="./template/mechanicall_unicorn.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/orange_mechanicall_bull/img (3).jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mechanical Bull Orange</h5>
              <p class="card-text"></p>
              <a class="btn btn-1" href="./template/orange_mechanical_bull.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="../img/racetrack-for-rent/img1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Racetrack for Rent</h5>
              <p class="card-text"></p>
              <a class="btn btn-1" href="./template/racetrack_for_rent.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="../img/foam-party/img1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Foam Party</h5>
              <p class="card-text"></p>
              <a class="btn btn-1" href="./template/foam_party.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/game_trailer/img (3).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Game Trailer Party</h5>
              <p class="card-text"></p>
              <a class="btn btn-1" href="./template/game_trailer_party.html">Get it now</a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="../img/cotton_candy_machine/img.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cotton Candy Machine</h5>
              <p class="card-text"></p>
              <a class="btn btn-1" href="./template/cotton_candy_machine.html">Get it now</a>
            </div>
          </div>
        </div>
      </div>
      <!----------------------------  Mechanical Games section end ------------------------------->

      <div class="row pt-5 mt-5" data-aos="fade-up">
        <h2 class="pb-5 text-ligthgreen t-sm-center">Furniture</h2>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4" data-aos="fade-up">
        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
            <img src="./img/floding-table/FB_IMG_1681220111959.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Folding Table</h5>
              <p class="card-text"></p>
              <a class="btn btn-1" href="./template/folding_table.html">Get it now</a>
            </div>
          </div>
        </div>

        <div class="col" data-aos="fade-up">
          <div class="card h-100 shadow">
              <img src="./img/generators/img.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Generators for Rent</h5>
                  <!-- <p class="card-text">Descripción del nuevo producto</p> -->
                  <a class="btn btn-1" href="./template/generators.html">Get it now</a> <!-- Reemplaza "#" con la URL correspondiente -->
              </div>
          </div>
      </div>

      <div class="col" data-aos="fade-up">
        <div class="card h-100 shadow">
            <img src="./img/floding_chairs/img.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Folding Chairs</h5>
                <!-- <p class="card-text">Descripción del nuevo producto</p> -->
                <a class="btn btn-1" href="./template/folding_chairs.html">Get it now</a> <!-- Reemplaza "#" con la URL correspondiente -->
            </div>
        </div>
    </div>
      </div>
    </div>
  </section>

  <div class="divisor-2"></div>


  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>
{% endblock %}
