<!-- kidsfun_web/templates/404.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página no encontrada</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Ajusta el enlace al CSS según tu proyecto -->
</head>
<body>
    <h1>404 - Página no encontrada</h1>
    <p>Lo sentimos, la página que estás buscando no existe.</p>
    <a href="{% url 'home' %}">Volver al inicio</a>
</body>
</html>
