/* footer.css */

html, body {
    height: 100%; /* Asegura que el cuerpo y el HTML ocupen toda la altura de la ventana */
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina el relleno predeterminado */
    display: flex; /* Usa flexbox para organizar el contenido */
    flex-direction: column; /* Organiza el contenido en una columna */
}

.content-container {
    flex: 1; /* Hace que el contenido-container ocupe todo el espacio disponible */
}

.footer {
    flex-shrink: 0; /* Evita que el footer se reduzca en tamaño */
    background-color: #ffffff; /* Color de fondo del footer */
    color: #42444e; /* Color del texto del footer */
    padding: 20px; /* Espaciado interior del footer */
    text-align: center; /* Alineación del texto al centro */
}
