{# load static #}
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>SMAP Application - Login</title>
    <link rel="shortcut icon" href="{% static 'asset/favicon.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/singin.css' %}">
</head>
<body>
<div class="form-wrapper">
    <div class="form-side">
        <form action="{% url 'signin' %}" method="POST" class="my-form" id="signin-form">
            {% csrf_token %}
            <div class="login-welcome-row">
                <h1>Accede a tu cuenta en <br>SMAP&#x1F44F;</h1>
            </div>
            <div class="divider">
                <span class="divider-line"></span>
                X
                <span class="divider-line"></span>
            </div>
            <div class="text-field">
                <label for="username">Usuario:
                    <input type="text" id="username" name="username" autocomplete="off" placeholder="Your Username"
                           required>
                </label>
            </div>
            <div class="text-field">
                <label for="password">Password:
                    <input id="password" type="password" name="password" placeholder="Your Password"
                           title="Minimum 6 characters at least 1 Alphabet and 1 Number"
                           pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" required>
                </label>
            </div>
            <button class="my-form__button" type="submit">Login</button>
        </form>
    </div>
    <div class="info-side">
        <style>.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Alineación de texto al centro */
}</style>
<!--<img src="{% static 'assets/logo.png' %}" alt="Mock" class="mockup img-fluid img-sm"/>-->
        <div class="welcome-message">
            <h2>Bienvenido a SMAP 👋</h2>
            <div class="my-form__actions">
                <div class="my-form__row centered-content">
                    <div>
                        Volver a <a href="https://kidsfunyfiestasinfantiles.com/" title="Create Account">Kisdfun y Fiestas Infantiles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
