{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header form-label mb-0">Nuevo Producto</h5>
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <form id="createProductForm" action="/product/create/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Columna para la imagen -->
                                <div class="image-container mb-3">
                                    <!-- Placeholder de imagen -->
                                    <img id="imagePreview" src="{% static 'assets/placeholder_product_card.png' %}" alt="Product Image" class="card-img-top" style="width: 100%; border-radius: 20px;">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Columna para los campos del formulario -->
                                {% for field in form %}
                                    {% if field.name != 'image' %}
                                        <div class="form-group mb-3">
                                            {{ field.errors }}
                                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                            {{ field }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary mr-2">Save</button>
                            <a href="{% url 'product' %}" class="btn btn-danger">Close</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'dropzone.js' %}"></script>
    <script>
        Dropzone.autoDiscover = false;
        $(document).ready(function () {
            $("#createProductForm").dropzone({
                paramName: "file",
                maxFilesize: 5, // Tamaño máximo en MB
                maxFiles: 5, // Número máximo de archivos
                acceptedFiles: 'image/*' // Tipos de archivos permitidos
            });
        });
    </script>
{% endblock %}
