{% extends 'base.html' %}

{% block content %}
    <main class="container mt-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h1 class="text-center mb-4">Nuevo Producto</h1>

                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endif %}

                        <form id="createProductForm" action="/product/create/" method="POST"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Renderiza manualmente los campos del formulario, excepto el campo de subida de archivos -->
                            {% for field in form %}
                                {% if field.name != 'image' %}
                                    <div class="form-group">
                                        {{ field.errors }}
                                        {{ field.label_tag }} {{ field }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="modal-footer mt-4">
                                <a href="{% url 'product' %}" class="btn btn-secondary mr-2">Close</a>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <script>
        function previewImage(event) {
            var imageInput = event.target;
            var imagePreview = document.getElementById('imagePreview');

            if (imageInput.files && imageInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                };

                reader.readAsDataURL(imageInput.files[0]);
            }
        }
    </script>
{% endblock %}
