{% extends 'base.html' %}

{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Welcome</h1>
            <p>SMAP (Sistema de Manejo de Aplicaciones Móviles) es una plataforma desarrollada para
                gestionar y administrar aplicaciones móviles. Proporciona herramientas para el manejo eficiente de
                diferentes aspectos relacionados con el ciclo de trabajo de la aplicacion móvil, incluyendo la gestión
                de contenido, el seguimiento de métricas y más. SMAP está diseñado para facilitar
                el proceso de administracion, de la aplicacion móvil, ofreciendo una interfaz
                intuitiva y funcionalidades robustas.</p>
            <p>
                En este apartado podra ver anuncios e informacion sobre lanzamientos y nuevas funcionalidades asi como
                noticias generales sobre
                las novedades de las sistema y de las Apps.
            </p>
            <p>Menus
            <ul>
                <li>Productos
                    <ul>
                        <li>
                            FUNCIONANDO
                            <ul>
                                <li><a>Creacion de Nuevos Productos</a></li>
                                <li><a>Busqueda por Categorias y Nombres de Productos</a></li>
                                <li><a>Vista de Detalle de cada Producto</a></li>
                                <li><a>Borrar Productos</a></li>
                                <li><a>Editar/Actualizar Productoss</a></li>
                                <li><a>Buscar Productos</a></li>
                                <li><a>Filtrar Productos por Categoria</a></li>
                                <li><a>Creaccion de Template de Notificaciones Push</a></li>
                                <li><a>Creaccion de Conexion entre el Sistema SMAP y Aplicacion
                                    Mobil para servir los productos</a></li>
                                <li><a>Creacion de Template de Ticket Master</a></li>
                            </ul>
                        </li>
                        <li>
                            EN PROCESO
                            <ul>
                                <li><a><strong>Creaccion de Conexion entre el Sistema SMAP y Pagina Web</strong></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- Espacio entre secciones -->
                <div style="margin-bottom: 20px;"></div>
                <li>Funcionalidad Envio de Notificaciones (En Desarrollo)</li>
                <li>Servicios (En Desarrollo)</li>
                <li>Descargo de Responsabilidad (En Desarrollo)</li>
                <li>Anticipos (En Desarrollo)</li>
                <li>Funcionalidad  de Ticket Master (En Desarrollo)</li>
            </ul>
            </p>
            <p>Tambien en esta seccion se agregaran las actualizaciones que se iran haciendo a la plataforma, asi como
                nuevas funcionalidades que se vayan liberando paulatinamente, junto con una brebe descripcion de
                ellas.</p>
        </section>
        <!-- Espacio entre secciones -->
        <div style="margin-bottom: 20px;"></div>
        <section>
            <h3>
                Estados:
            </h3>

            <h5>Publicada</h5>
            <ul>
                <li><p>Plataforma SMAP: Alpha 1.3.4.24</p></li>
            </ul>


            <h5>En Desarrollo</h5>
            <ul>
                <li><p>Aplicacion Mobil de Kidsfun: Alpha 0.3.24</p></li>
            </ul>
            
        </section>
    </main>
{% endblock %}
