{% extends 'base.html' %}

{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Welcome</h1>
            <p>SMAP (Sistema de Manejo de Aplicaciones Móviles) es una plataforma desarrollada para
                gestionar y administrar aplicaciones móviles. Proporciona herramientas para el manejo eficiente de
                diferentes aspectos relacionados con el ciclo de trabajo de la aplicacion móvil, incluyendo la gestión
                de contenido, el seguimiento de métricas y más. SMAP está diseñado para facilitar
                el proceso de administracion, de la aplicacion móvil, ofreciendo una interfaz
                intuitiva y funcionalidades robustas.</p>
            <p>
                En este apartado podra ver anuncias y lanzamientos de funcionalidades asi como noticias generales sobre
                las novedades de las app.
            </p>
            <p>Menus
            <ul>
                <li>Productos
                    <ul>
                        <li>
                            FUNCIONANDO
                            <ul>
                                <li><a>Creacion de Nuevos Productos</a></li>
                                <li><a>Busqueda por Categorias y Nombres de Productos</a></li>
                                <li><a>Vista de Detalle de cada Producto</a></li>
                                <li><a>Borrar Productos</a></li>
                            </ul>
                        </li>
                        <li>
                            EN PROCESO
                            <ul>
                                <li><a><strong>Editar/Actualizar Productos</strong></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- Espacio entre secciones -->
                <div style="margin-bottom: 20px;"></div>
                <li>Envio de Notificaciones (En Desarrollo)</li>
                <li>Servicios (En Desarrollo)</li>
                <li>Descargo de Responsabilidad (En Desarrollo)</li>
                <li>Anticipos (En Desarrollo)</li>
                <li>Ticket Master (En Desarrollo)</li>
            </ul>
            </p>
            <p>Tambien en esta seccion se agregaran las actualizaciones que se iran haciendo a la plataforma, asi como
                nuevas funcionalidades que se vayan liberando paulatinamente, junto con una brebe descripcion de
                ellas.</p>
        </section>
        <!-- Espacio entre secciones -->
        <div style="margin-bottom: 20px;"></div>
        <section>
            <h3>
                Estado:
            </h3>
            <h5>Version de SMAP: Alpha 1.3.4.24</h5>
            <h5>Version de App Mobil: Alpha 0.3.24</h5>
        </section>
    </main>
{% endblock %}
