{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia neque saepe error vero accusamus laborum, possimus numquam, cupiditate dolorum doloribus, sint amet soluta eveniet et facilis! Nihil perspiciatis sunt saepe facilis praesentium quasi, animi dolorem eveniet enim natus eaque ipsa, similique debitis aut, doloremque nesciunt laudantium rem vitae! Iusto ratione vitae natus deleniti molestiae minus repellendus enim. Cum atque aspernatur quaerat deleniti, iusto accusamus ducimus dolorem. Cum doloremque perspiciatis officiis, deleniti voluptatibus unde sint esse? Doloremque non, saepe similique at tenetur quisquam rerum perspiciatis dolorem praesentium mollitia, rem voluptatibus hic est quos illum dolore nemo cumque exercitationem ab, ratione esse.</p>
{% endblock %}