<!-- modal.html -->
<div id="newProductModal" class="componente-con-borde" style="display: none;">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre del Producto</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingresa un nombre opcional">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Ingresa la descripción del producto" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Precio</label>
                <input type="number" class="form-control" id="exampleFormControlInput2" style="max-width: 150px;" placeholder="Ingresa el precio del producto">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlSelect1" class="form-label">Categoría</label>
                <select class="form-select" id="exampleFormControlSelect1">
                    <!-- Esto es para mientras lo tengo que cambiar para que no quede quemado -->
                    <option value="opcion1">Opción 1</option>
                    <option value="opcion2">Opción 2</option>
                    <option value="opcion3">Opción 3</option>
                </select>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Checkbox Marcado
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="formFile" class="form-label">Imagen de Portada</label>
                <input class="form-control" type="file" id="formFile" placeholder="Ejemplo: https://tuapp.com/imagen.png">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Imagen de 1</label>
                <input class="form-control" type="file" id="formFile" placeholder="Ejemplo: https://tuapp.com/imagen.png">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Imagen de 2</label>
                <input class="form-control" type="file" id="formFile" placeholder="Ejemplo: https://tuapp.com/imagen.png">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Imagen de 3</label>
                <input class="form-control" type="file" id="formFile" placeholder="Ejemplo: https://tuapp.com/imagen.png">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Imagen de 4</label>
                <input class="form-control" type="file" id="formFile" placeholder="Ejemplo: https://tuapp.com/imagen.png">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Imagen de 5</label>
                <input class="form-control" type="file" id="formFile" placeholder="Ejemplo: https://tuapp.com/imagen.png">
            </div>
        </div>
    </div>
    <div class="mt-4 justify-content-end">
        <button type="submit" class="btn btn-primary">Crear</button>
        <button id="cancelarBtn" type="button" class="btn btn-danger ml-2">Cancelar</button>
    </div>
</div>
