{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="grid text-center">
                <div class="g-col-6">
                    <h5 class="card-title">{{ product.title }}</h5>
                    {% if error %}
                        <div class="alert alert-danger mb-3" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Renderiza manualmente los campos del formulario, excepto el campo de subida de archivos -->
                        {% for field in form %}
                            {% if field.name != 'image' %}
                                <div class="form-group">
                                    {{ field.errors }}
                                    {{ field.label_tag }} {{ field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary mr-2">Update</button>
                            <button type="submit" class="btn btn-danger" formaction="{% url 'delete_product' product.id %}">Delete</button>
                        </div>
                        <!-- Añade manualmente el campo de subida de archivos -->
{#                        <div class="form-group">#}
{#                            <label for="image">Image:</label>#}
{#                            <input type="file" class="form-control-file" id="image" name="image">#}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
