{% extends 'base.html' %}

{% block content %}
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
        <style>
            /* Estilo para ocultar los checkboxes de los productos por defecto */
            .hidden-checkbox {
                display: none;
            }
        </style>
    </head>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container d-flex align-items-center">
            <h1 class="h2">Productos</h1>
            <div class="d-flex ml-auto">
                <!-- Bote de basura oculto -->
                <div class="form-check me-3 d-none" id="trash-icon">
                    <i class="fas fa-trash-alt mr-2"></i>
                </div>
                <!-- Checkbox principal "Seleccionar" en la barra de navegación -->
                <form id="checkbox-form" method="post" action="{% url 'process_checkbox' %}">
                    {% csrf_token %}
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" value="true" name="checkbox_state"
                               id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Categorias
                        </label>
                    </div>
                </form>
                <a id="newProductoBtn" href="" class="btn btn-primary">Nuevo Producto</a>
                <form class="d-flex ms-3" role="search" method="get">
                    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <!-- Contenido principal de la página -->
        <div class="row row-cols-1 row-cols-md-4">
            {% for product in products %}
                <div class="col mb-4">
                    <div class="card h-100 d-flex flex-column flex-fill">
                        <div class="card-body d-flex flex-column" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                            <div class="form-check me-3" d-none>
                                <input class="form-check-input product-checkbox"
                                       style="box-shadow: 0 2px 4px rgba(0,0,0,0.1);" type="checkbox"
                                       id="productCheckbox_{{ product.id }}">
                            </div>
                            <div class="image-container">
                                <img src="{{ product.img.url }}" alt="Product Image">
                            </div>
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text">Precio: {{ product.price }}</p>
                            <p class="card-text">Categoría: {{ product.get_category_display }}</p>
                            {% if user.username == 'mrgomez' %}
                                <p class="card-text">Usuario: {{ product.user.username }}</p>
                            {% endif %}
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary mt-auto">Ver
                                Detalles</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Incluye el contenido del modal desde el archivo separado -->
    {% include 'modal_new_product.html' %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const checkbox = document.querySelector('#flexCheckDefault');
            const form = document.querySelector('#checkbox-form');

            checkbox.addEventListener('change', function () {
                // Envía el formulario sin redireccionar
                form.submit();
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const checkbox = document.querySelector('#flexCheckDefault');
            const form = document.querySelector('#checkbox-form');
            const productCheckboxes = document.querySelectorAll('.product-checkbox');
            const trashIcon = document.getElementById('trash-icon');

            // Oculta los checkboxes de los productos por defecto al cargar la página
            productCheckboxes.forEach(function (checkbox) {
                checkbox.classList.add('hidden-checkbox');
            });
            trashIcon.classList.add('d-none');

            checkbox.addEventListener('change', function () {
                // Envía el formulario sin redireccionar
                form.submit();
            });

            const selectAllCheckbox = document.querySelector('#flexSelectedAll');

            selectAllCheckbox.addEventListener('change', function () {
                // Si el checkbox "Seleccionar" está marcado, muestra los checkbox de los productos y el bote de basura
                if (this.checked) {
                    productCheckboxes.forEach(function (checkbox) {
                        checkbox.classList.remove('hidden-checkbox');
                        checkbox.checked = false; // Establece el estado a false cuando se muestran
                    });
                    trashIcon.classList.remove('d-none');
                } else {
                    // Si el checkbox "Seleccionar" no está marcado, oculta los checkbox de los productos y el bote de basura
                    productCheckboxes.forEach(function (checkbox) {
                        checkbox.classList.add('hidden-checkbox');
                        checkbox.checked = false; // Establece el estado a false cuando se ocultan
                    });
                    trashIcon.classList.add('d-none');
                }
            });
        });

        document.getElementById('newProductoBtn').addEventListener('click', function (event) {
            event.preventDefault(); // Evita que el enlace se comporte como un enlace normal
            var componente = document.getElementById('newProductModal');
            if (componente.style.display === 'none') {
                componente.style.display = 'block';
            } else {
                componente.style.display = 'none';
            }
        });

        // Agrega un evento de clic al botón de cancelar
        document.getElementById('cancelarBtn').addEventListener('click', function () {
            var componente = document.getElementById('newProductModal');
            componente.style.display = 'none';
        });
    </script>

{% endblock %}
