{% extends 'base.html' %}

{% block content %}

<main class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Detalle de {{ product.title }}</h5>
                    {% if error %}
                        <div class="alert alert-danger mb-3" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Renderiza manualmente los campos del formulario, excepto el campo de subida de archivos -->
                        <div class="image-container">
                            <img src="{{ product.img.url }}" alt="Product Image" class="img-fluid">
                        </div>
                        {% for field in form %}
                            {% if field.name != 'image' %}
                                <div class="form-group">
                                    {{ field.errors }}
                                    {{ field.label_tag }} {{ field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary mr-2">Update</button>
                            <button type="submit" class="btn btn-danger"
                                    formaction="{% url 'delete_product' product.id %}">Delete
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
