{% extends 'base.html' %}

{% block content %}
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/sudo_admin.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container d-flex align-items-center">
            <h2 class="h2">Usuarios Registrados</h2>
            <div class="d-flex ml-auto">
                <a id="crearProductoBtn" href="{% url 'signup' %}" class="btn btn-primary">Nuevo Usuario</a>
            </div>
        </div>
    </nav>

    <div class="container mt-5">

        <table class="table">
            <thead>
            <tr>
                <th><input type="checkbox" id="select-all"></th> <!-- Checkbox para seleccionar todos -->
                <th>ID</th>
                <th>Nombre de Usuario</th>
                <th>Correo Electrónico</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Registro</th>
                <th>Ultimo Inicio de Sesion</th>
                <th class="trash-column"></th> <!-- Columna para el icono del bote de basura -->
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% with random_boolean=user.checkbox_state %}
                    <tr>
                        <td class="checkbox-container">
                            <input type="checkbox" name="selected_users" value="{{ user.id }}"
                                   id="user-checkbox-{{ user.id }}"
                                   onchange="toggleTrashIconVisibility('{{ user.id }}')">
                            <label for="user-checkbox-{{ user.id }}" class="checkbox-label"></label>
                        </td> <!-- Checkbox de usuario -->
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.date_joined }}</td>
                        <td>{{ user.last_login }}</td>
                        <td class="form-check me-3 {% if not random_boolean %}hide-trash{% endif %} trash-column"
                            id="trash-icon-{{ user.id }}">
                            <i class="fas fa-trash-alt trash-icon mr-2"></i>
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function toggleTrashIconVisibility(userId) {
            var checkbox = document.getElementById('user-checkbox-' + userId);
            var trashIcon = document.getElementById('trash-icon-' + userId);
            if (checkbox.checked) {
                trashIcon.classList.remove('hide-trash');
            } else {
                trashIcon.classList.add('hide-trash');
            }
        }
    </script>
{% endblock %}
