{% extends 'base.html' %}

{% block content %}
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/push_notification.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #F4F1FF !important; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
        <div class="container d-flex align-items-center">
            <h1 class="h2">Usuarios de la App</h1>
            <div class="d-flex ml-auto">
                <!-- Bote de basura oculto -->
                <div class="form-check me-3 d-none" id="trash-icon">
                    <i class="fas fa-trash-alt mr-2"></i>
                </div>
                <!-- Checkbox principal "Seleccionar" en la barra de navegación -->
<!--                <form id="checkbox-form" method="post" action="{% url 'process_checkbox' %}">-->
<!--                    {% csrf_token %}-->
<!--                    <div class="form-check me-3">-->
<!--                        <input class="form-check-input" type="checkbox" value="true" name="checkbox_state"-->
<!--                               id="flexCheckDefault">-->
<!--                        <label class="form-check-label" for="flexCheckDefault">-->
<!--                            Categorias-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </form>-->
<!--                <a id="newProductoBtn" href="" class="btn btn-primary">Nuevo Producto</a>-->
                <form class="d-flex ms-3" role="search" method="get">
                    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
<!--                <th>Teléfono</th>-->
                <th>Foto de Perfil</th>
                <th>Proveedores</th>
                <th>Fecha de Creación</th>
                <th>Fecha de Último Acceso</th>
                <!-- Agrega otras columnas según lo necesites -->
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.uid }}</td>
                <td>{{ user.display_name }}</td>
                <td>{{ user.email }}</td>
<!--                <td>{{ user.phone_number }}</td>-->
                <td>
                    {% if user.photo_url %}
                        <img src="{{ user.photo_url }}" alt="Foto de Perfil" style="width:50px; height:50px; border-radius:50%;">
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>{{ user.provider_id }}</td>
<!--                <td>{{ user.creation_timestamp|date:"Y-m-d H:i:s" }}</td>-->
<!--                <td>{{ user.last_sign_in_timestamp|date:"Y-m-d H:i:s" }}</td>-->
                <td>{{ user.creation_timestamp|date:"d/m/Y" }}</td>
                <td>{{ user.last_sign_in_timestamp|date:"d/m/Y" }}</td>
                <!-- Agrega otras celdas según lo necesites -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
