.card-img-top {
        object-fit: cover;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .section-products .card .btn-primary {
        background: var(--color-violeta);
        color: #fff; /* Color de letra */
        border-radius: 15px; /* Forma del botón */
        padding: 8px 12px; /* Relleno */
        font-size: 14px; /* Tamaño de la fuente */
        transition: background 0.3s; /* Transición de color de fondo */
    }

    .section-products .card .btn-primary:hover {
        background: #af4ea9;
    }

    .card-title-custom {
        font-size: 25px;
        color: #2755e8;
        margin: 10px 0;
    }

    .image-container {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .section-products {
        padding-top: 190px; /* Añadir margen superior para separar del navbar */
    }

    .section-products h3 {
        font-size: 35px;
        color: #c750c0; /* Puedes ajustar el color si lo deseas */
        text-align: left;
        margin-bottom: 5px;
    }

    .card-icons {
        display: flex;
        justify-content: space-between;
        padding: 10px 50px;
    }

    .card-icons i {
        font-size: 30px;
        cursor: pointer;
        color: #2755e8;
    }