/* Estilo para el borde sólido */
.componente-con-borde {
    border: 1px solid #ced4da; /* Color y grosor del borde */
    padding: 10px; /* Espacio alrededor del componente */
    margin-bottom: 20px; /* Espacio entre componentes */
    position: absolute; /* Posicionamiento absoluto */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Centrar */
    z-index: 999; /* Asegurar que esté encima de la tabla */
    /* background-color: rgb(248, 249, 250);  Color de fondo */
    background-color: #F4F1FF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}