<!-- waiver.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Administración de Datos de Waiver</h2>

    <!-- Mostrar WaiverData -->
    <ul>
        {% for data in waiver_data %}
            <li>
                User ID: {{ data.user_id }},
                User Name: {{ data.user_name }},
                Relative Name: {{ data.relative_name }},
                Relative Age: {{ data.relative_age }}
            </li>
        {% endfor %}
    </ul>

    <hr>

    <!-- Formulario para agregar nuevo correo electrónico -->
    <h3>Agregar Correo Electrónico</h3>
    <p>En este apartado agregaremos los correos electronicos de los colaborares que validaran (escanearan) el QR de cada cliente en la APP</p>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>

    <hr>

    <!-- Tabla de correos electrónicos -->
    <h3>Lista de Correos Electrónicos Autorizados para Validar QR en la APP</h3>
    <p>Este es el listado de personas que en la App tendran acceso a Custom Waiver Validator en la APP, que es donde entraremos a leer y validar el QR del cliente, esto en la pantalla de Perfil para darle acceso a los juegos</p>
    <p>Por el momento no se puede borrar o editar esta lista, pero se podra proximamente, por el momento solo se puede agregar</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Fecha de Creación</th>
            </tr>
        </thead>
        <tbody>
            {% for validator in waiver_validators %}
                <tr>
                    <td>{{ validator.email }}</td>
                    <td>{{ validator.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
